# Ignorar arquivos de Banco de Dados
*.sql

# Ignorar uploads de imagens e documentos
uploads/*
!uploads/.keep

# Ignorar logs
*.log

# (Opcional) Ignorar arquivos com senhas se você for deixar o repositório Público
includes/db.php
